<header>
  <h2>Film Location - <%= @film.title %> <small>(<%= @film_format %>)</small></h2>
</header>

<div style="margin-bottom: 10px;">
  <% if @film_format == 'blu-ray' %>
      <b>Stock:</b> <%= @film.blu_ray_stock %>
    <% orig_stock = @film.blu_ray_stock %>
  <% else %>
      <b>Stock:</b> <%= @film.dvd_stock %>
    <% orig_stock = @film.dvd_stock %>
  <% end %>
</div>

<div style="margin-bottom: 10px;">
  <% if @film_format == 'blu-ray' %>
    <b>Warehouse Stock:</b> <%= @film.blu_ray_wstock %> (plus blow should add upto stock above)
    <% total_stock = @film.blu_ray_wstock %>
  <% else %>
    <b>Warehouse Stock:</b> <%= @film.dvd_wstock %> (plus blow should add upto stock above)
    <% total_stock = @film.dvd_wstock %>
  <% end %>
</div>

<div style="margin-bottom: 10px;">
<% total_stock = total_stock + @film_location.count %>

<% if total_stock != orig_stock %>
    <span style="color:red;"><b> Stock Missing, please investigate</b></span>
<% end %>
</div>

<div style="margin-bottom: 10px;">
  <table class="table table-condensed" style="width: 80%">
    <th>User</th>
    <th>Address</th>
    <% @film_location.each do |film| %>
      <tr>
        <td><%= film.user.email %></td>
        <td><%= film.user.address %></td>
      </tr>
    <% end %>
  </table>
</div>