<header>
  <h1>Films</h1>
</header>

<div class="carousel">
  <div class="action">
    <span><b>Action</b></span>
    <div class="slider">
      <% @films.each do |film| %>
        <div class="slide"><%= link_to image_tag(film.image1, size: "141x200"), film %></div>
      <% end %>
    <div class="slide"><%= link_to 'Action', {:controller => "films", :action => "table", :genre1 => 'Action' } %></div>
    </div>
  </div>

  <div class="thriller">
    <span><b>Thriller</b></span>
    <div class="slider">
      <% @films.each do |film| %>
        <div class="slide"><%= link_to image_tag(film.image1, size: "141x200"), film %></div>
      <% end %>
      <div class="slide"><%= link_to 'Thriller', {:controller => "films", :action => "table", :genre1 => 'Thriller' } %></div>
    </div>
  </div>

  <div class="horror">
    <span><b>Horror</b></span>
    <div class="slider">
      <% @films.each do |film| %>
        <div class="slide"><%= link_to image_tag(film.image1, size: "141x200"), film %></div>
      <% end %>
    <div class="slide"><%= link_to 'Horror', {:controller => "films", :action => "table", :genre1 => 'Horror' } %></div>
    </div>
  </div>
</div>