<header>
  <h1>Films</h1>
</header>

<div>
  <div class="action">
    <span class="genre-title">Action </span>
    <span class="genre-link"><%= link_to 'View All Action Films', {:controller => "films", :action => "table", :genre1 => 'Action'} %></span>
    <div class="slider">
      <% @films_action.each do |film| %>
        <div class="slide"><%= link_to image_tag(film.image1), film %></div>
      <% end %>
    <div class="slide grey_box"><%= link_to 'View All Action Films', {:controller => "films", :action => "table", :genre1 => 'Action'} %></div>
    </div>
  </div>

  <div class="thriller">
    <span class="genre-title">Thriller </span>
    <span class="genre-link"><%= link_to 'View All Thriller Films', {:controller => "films", :action => "table", :genre1 => 'Thriller'} %></span>
    <div class="slider">
      <% @films_thriller.each do |film| %>
        <div class="slide"><%= link_to image_tag(film.image1), film %></div>
      <% end %>
      <div class="slide"><%= link_to 'Thriller', {:controller => "films", :action => "table", :genre1 => 'Thriller' } %></div>
    </div>
  </div>

  <div class="horror">
    <span class="genre-title">Horror </span>
    <span class="genre-link"><%= link_to 'View All Horror Films', {:controller => "films", :action => "table", :genre1 => 'Horror'} %></span>
    <div class="slider">
      <% @films_horror.each do |film| %>
        <div class="slide"><%= link_to image_tag(film.image1), film %></div>
      <% end %>
    <div class="slide"><%= link_to 'Horror', {:controller => "films", :action => "table", :genre1 => 'Horror' } %></div>
    </div>
  </div>
</div>

<script>
    $(".pop").popover({ trigger: "manual" , html: true, animation:false})
        .on("mouseenter", function () {
            var _this = this;
            $(this).popover("show");
            $(".popover").on("mouseleave", function () {
                $(_this).popover('hide');
            });
        }).on("mouseleave", function () {
        var _this = this;
        setTimeout(function () {
            if (!$(".popover:hover").length) {
                $(_this).popover("hide");
            }
        }, 300);
    });
</script>