<header>
  <h1><%= @film.title %></h1>
</header>

<div>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5 img-responsive" id="main_image">
    <%= image_tag @film.image1, size: "250x350" %>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 col-offset-6">
    <table id="attributes">
      <tr>
        <th>Description: </th>
        <td><%= @film.description %></td>
      </tr>
      <tr id="genre">
        <th>Genre: </th>
        <td><%= @film.genre1.genre %> / <%= @film.genre2.genre %></td>
      </tr>
      <tr id="rating">
        <th>Rating: </th>
        <td><%= image_tag "#{@film.rating}.png", size: "30x30" %></td>
      </tr>
      <tr id="release_year">
        <th>Release Year: </th>
        <td><%= @film.release_year %></td>
      </tr>
      <% admins_only do %>
        <tr id="blu_ray_stock">
          <th>Blu-Ray Stock: </th>
          <td><%= @film.blu_ray_stock %></td>
        </tr>
        <tr id="dvd_stock">
          <th>DVD Stock: </th>
          <td><%= @film.dvd_stock %></td>
        </tr>
        <tr id="film_active">
          <th>Film Active: </th>
          <td><%= @film.active %></td>
        </tr>
      <% end %>
    </table>

    <div id="tasks">
      <% admins_only do %>
        <div class="actions">
          <%= link_to 'Edit Film', edit_film_path, class: 'new' %>
          <%= link_to 'Delete Film', @film, method: :delete,
            data: { confirm: 'Are you sure you want to delete this film?' },
            class: 'delete' %>
        </div>
      <% end %>
      <% if check_not_admin %>
        <div>
          <button type="button" class="btn btn-warning btn-xs rental-button">Add to Rental List</button>
        </div>
      <% end %>
    </div>
  </div>
</div>