<header>
  <h1>Administration Area</h1>
</header>

<table class="table table-striped table-condensed">
  <tr>
    <td><b>Film</b></td>
    <td><b>Blu-Ray <br>Brought Stock</b></td>
    <td><b>DVD <br>Brought Stock</b></td>
    <td><b>Blue-Ray <br>Warehouse Stock</b></td>
    <td><b>DVD <br>Warehouse Stock</b></td>
    <td><b>Blu-Ray Rental List</b></td>
    <td><b>DVD Rental List</b></td>
    <td><b>Blu-Ray @ homes</b></td>
    <td><b>DVD @ homes</b></td>
  </tr>
  <% @films.each do |film| %>
    <tr>

      <td><b><%= film.title %></b></td>
      <td><%= film.blu_ray_stock %></td>
      <td><%= film.dvd_stock %></td>
      <td><%= film.blu_ray_wstock %></td>
      <td><%= film.dvd_wstock %></td>
      <td><%= film.rental_lists.where(film_format: 'blu-ray').count %></td>
      <td><%= film.rental_lists.where(film_format: 'dvd').count %></td>
      <td>
        <%= link_to film.rental_lists.where(film_format: 'blu-ray', home: true).count,
                    film_location_films_path(film_id: film.id, film_format: 'blu-ray')
        %>
      </td>
      <td>
        <%= link_to film.rental_lists.where(film_format: 'dvd', home: true).count,
                    film_location_films_path(film_id: film.id, film_format: 'dvd') %>
      </td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</table>