<header>
   <h2>Films (<%= @table_title %>)</h2>
</header>

<div id="wrapper">

  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <% @genres.each do |genre| %>

      <li><%= link_to raw("<span>#{genre.genre}</span> <span><small>(#{genre.films.active_t.size})</small></span>"),
                      {:controller => "films", :action => "table", :genre1 => "#{genre.genre}" } %></li>
      <% end %>
    </ul>
  </div>

  <div class="table-paginate">
  <%= will_paginate %>
  <div class="row text-center film-panel">
    <% @films.each do |film| %>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#">
            <%= image_tag(film.image1, size: "141x200", class: "img-thumbnail img-responsive") %>
          </a>
        </div>
        <div class="panel-footer">
          <div class="show-title">
            <%= link_to film.title, film_path(film) %>
          </div>
          <div class="show-release">
            <%= film.release_year %>
          </div>
          <div>
          <% if film.blu_ray_stock? %>
              <%= link_to 'blu-ray', film_path(film) %>,
          <% end %>
          <% if film.dvd_stock? %>
              <%= link_to 'dvd', film_path(film) %>
          <% end %>
          <%= image_tag(film.rating, size: "20x20") %>
          </div>
          <div id="tasks">
            <% admins_only do %>
                <div class="actions">
                  <%= link_to 'Edit Film', edit_film_path(film.id), class: 'new' %>
                  <%= link_to 'Delete Film', @film, method: :delete,
                              data: { confirm: 'Are you sure you want to delete this film?' },
                              class: 'delete' %>
                </div>
            <% end %>
            <% if check_not_admin %>
                <div>
                  <button type="button" class="btn btn-warning btn-xs rental-button">Add to Rental List</button>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= will_paginate %>
  </div>

</div>