<header>
   <h2>Films (<%= @table_title %>)</h2>
</header>

<div id="wrapper">

  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <% @genres.each do |genre| %>

      <li><%= link_to raw("<span>#{genre.genre}</span><span> <small>(#{genre.films.size})</small></span>"),
                      {:controller => "films", :action => "table", :genre1 => "#{genre.genre}" } %></li>
      <% end %>
    </ul>
  </div>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <table class="film_table">
      <% @films.in_groups_of(4, false) do |film_array| %>
      <tr>
        <% film_array.each do |film| %>
          <td>
            <%= image_tag(film.image1, size: "141x200") %>
            <div>
              <span class="show-title"><%= link_to film.title, film_path(film) %></span> &nbsp
              <span class="show-release"><%= film.release_year %></span>
            </div>
            <div>
              <% if film.blu_ray_stock? %>
                  <%= link_to 'blu-ray', film_path(film) %>,
              <% end %>
              <% if film.dvd_stock? %>
                  <%= link_to 'dvd', film_path(film) %>
              <% end %>
              <%= image_tag(film.rating, size: "20x20") %>
            </div>
            <div>
              <button type="button" class="btn btn-warning btn-xs rental-button">Add to Rental List</button>
            </div>
          </td>
        <% end %>
      </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>