<header>
  <h2><%= get_user_name(@user) %>'s Films @ Home and Rental List</h2>
</header>

<br>
<h3>Films @ Home <small>(3 maximum) </small></h3>
<br>
<table class="table table-condensed home-list" style="width: 60%">

  <% if @address_count.nil? %>
      <span style="color:red;font-size:25px;font-weight:bold;">You must add an address so that films can be sent to you</span>
  <% else %>
    <% if @home_films.size == 0 %>
      <span style="color:red;font-weight:bold"> You have no films at home </span>
    <% else %>
      <tr>
        <td></td>
        <td><b>Film</b></td>
        <td><b>Disc Format</b></td>
        <td><b>Sent On</b></td>
        <td><b>Film Returned</b></td>
      </tr>
      <% @home_films.each do |film| %>
        <tr id="rental_row">
          <td><%= image_tag film.image1, size: "40x40" %></td>
          <td><%= film.title %></td>
          <td><%= film.film_format %></td>
          <td><%= film.updated_at.strftime("%d-%m-%Y") %></td>
          <td id="remove_rental"><%= link_to 'Film returned',
                                           remove_film_from_rental_list_dataflix_settings_path(:film_id => film.id, :user_id => @user.id, :film_format => film.film_format),
                                           class: "btn btn-xs btn-info rental-remove-btn",
                                           data: { confirm: 'Are you sure you want to remove this film?', remote: true }%></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
<div class="search-bar" style="width: 400px;">
  <%= form_tag remove_film_from_rental_list_dataflix_settings_path, :method => 'remove_film_from_rental_list', class: 'input-group rental-remove-btn', remote: true  do %>
      <span style="padding:5px;"><%= radio_button_tag(:film_format, "blu-ray") %></span>
      <span style="padding-right:5px;"><%= label_tag(:film_format, "Blu-Ray  ") %></span>
      <span style="padding:5px;"><%= radio_button_tag(:film_format, "dvd") %></span>
      <span style="padding-right:5px;"><%= label_tag(:film_format, "DVD  ") %></span>
      <span><%= hidden_field_tag "user_id", @user.id %></span>
      <span style="margin-top:5px;"><%= text_field_tag :barcode, params[:barcode], class: 'form-control  barcode-field', placeholder: 'Film returned using barcode...' %></span>
      <span class="input-group-btn">
          <%= button_tag( :class => "btn barcode-btn", :id => 'barcode-submit-btn', :disabled => true) do %>
              <i class="glyphicon glyphicon-search"></i>
          <% end %>
      </span>
  <% end %>
</div>
<br><br>
<h3>Rental List <small>(5 maximum)</small></h3>
<br>
<table class="table table-condensed">

  <% if @rental_films.size == 0 %>
      <span style="color:red;font-weight:bold"> You have no films on your rental list </span>
  <% else %>
    <td></td>
    <td><b>Film</b></td>
    <td><b>Disc Format</b></td>
    <td><b>Warehouse Stock</b></td>
    <td><b>Added to List on</b></td>
    <td><b>Remove from List</b></td>
    <% @rental_films.each do |film| %>
      <tr>
        <td><%= image_tag film.image1, size: "40x40" %></td>
        <td><%= film.title %></td>
        <td><%= film.film_format %></td>

        <% if film.film_format == 'blu-ray' %>
            <td><%= film.blu_ray_wstock %></td>
        <% else %>
            <td><%= film.dvd_wstock %></td>
        <% end %>

        <td><%= film.updated_at.strftime("%d-%m-%Y") %></td>
        <% if @address_count.nil? %>
            <td id="send_to_home"><%= link_to 'Send Home', root_path, class: "btn btn-xs btn-info disabled" %></td>
        <% else %>

            <!-- disable the send home button if warehouse stock is zero -->
            <% btn_class = 'btn btn-xs btn-info send-home-btn' %>
            <% if film.film_format == 'blu-ray' %>
                <% if film.blu_ray_wstock == 0 %>
                  <% btn_class = 'btn btn-xs btn-info send-home-btn disabled' %>
                <% end %>
            <% else %>
                <% if film.dvd_wstock == 0 %>
                    <% btn_class = 'btn btn-xs btn-info send-home-btn disabled' %>
                <% end %>
            <% end %>

            <td id="send_to_home"><%= link_to 'Send Home',
                                              send_home_admin_users_path(:film_id => film.id, :user_id => @user.id, :film_format => film.film_format),
                                              class: "#{btn_class}",
                                              data: { confirm: 'Are you sure you want to send this film?', remote: true }%></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>