<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'Dataflix Main' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Dataflix", root_path, class: "navbar-brand" %>
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="collapse">
      <ul class="nav navbar-nav">
        <li class="<%= "active" if current_page?("/") %>">
          <%= link_to 'Home',  root_path %>
        </li>
        <% unless user_signed_in? %>
          <li class="<%= "active" if current_page?("/users/sign_up") %>">
            <%= link_to "Sign up", new_user_registration_path, id: 'sign_up'  %>
          </li>
          <li class="<%= "active" if current_page?("/users/sign_in") %>">
            <%= link_to "Sign in", new_user_session_path, id: 'sign_in' %>
          </li>
        <% end %>
        <% admins_only do %>
          <li class="<%= "active" if current_page?("/admin") %>">
            <%= link_to 'Administration', admin_root_path %>
          </li>
        <% end %>
        <li>
          <div class="search-bar" style="width: 400px;">
            <%= form_tag search_table_films_path, :method => 'search_table', class: 'input-group'  do %>
                <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search for film...' %>
                <span class="input-group-btn">
                  <%= button_tag( :class => "btn") do %>
                      <i class="glyphicon glyphicon-search"></i>
                  <% end %>
                </span>
            <% end %>
          </div>
        </li>
      </ul>
      <% if user_signed_in? %>
        <div class="navbar-right">
          <p class="navbar-text">
            Signed in as <%= current_user.email %>
          </p>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
          </ul>
          <ul class="nav navbar-nav settings">
            <button class="btn btn-default dropdown-toggle icon-cog" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="glyphicon glyphicon-cog"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <% if check_not_admin %>
                <li><%= link_to 'Film List', film_list_dataflix_setting_path(current_user.id) %></li>
                <li><%= link_to 'Address', address_dataflix_settings_path %></li>
                <li><%= link_to 'Defaults', user_defaults_dataflix_settings_path %></li>
              <% else %>
                <li><%= link_to 'Administration', admin_root_path %></li>
              <% end %>

              <li><%= link_to "Change Account", edit_user_registration_path %></li>
            </ul>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</nav>
<div class="container">
  <% flash.each do |key, message| %>
    <div class="alert alert-<%= key %>">
      <%= message %>
    </div>
  <% end %>

  <%= yield %>
</div>

<!-- below code does not always work when in application js file -->
<script>
  var slider;

  function bxslider(){
      var width = $(document).width();

      if (width>555) {
          slider = $('.slider').bxSlider({
              slideWidth: 300,
              minSlides: 8,
              maxSlides: 10,
              moveSlides: 1,
              slideMargin: 3,
              pager: false,
              adaptiveHeight: true,
          });
      }

      if(width<=555){
          slider = $('.slider').bxSlider({
              slideWidth:200,
              minSlides: 3,
              maxSlides: 5,
              moveSlides: 1,
              slideMargin: 3,
              pager: false,
              adaptiveHeight: true,
          });
      }

      slider.reloadSlider();
  }

  $(window).on("resize load orientationchange page:change", function(){
      bxslider();
  });
</script>
<script>
    $(".pop").popover({ trigger: "manual" , html: true, animation:false})
        .on("mouseenter", function () {
            var _this = this;
            $(this).popover("show");
            $(".popover").on("mouseleave", function () {
                $(_this).popover('hide');
            });
        }).on("mouseleave", function () {
        var _this = this;
        setTimeout(function () {
            if (!$(".popover:hover").length) {
                $(_this).popover("hide");
            }
        }, 300);
    });
</script>

</body>
</html>